<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.monitor.mapper.MonitorLogBehaviorMapper">

    <resultMap type="MonitorLogBehavior" id="MonitorLogBehaviorResult">
        <result property="logId"    column="log_id"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="eventTime"    column="event_time"    />
        <result property="eventType"    column="event_type"    />
        <result property="processName"    column="process_name"    />
        <result property="detail"    column="detail"    />
        <result property="riskLevel"    column="risk_level"    />
        <result property="hostId"    column="host_id"    />
        <result property="mac"    column="mac"    />
        <result property="ip"    column="ip"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectMonitorLogBehaviorVo">
        select log_id, serial_number, event_time, event_type, process_name, detail, risk_level, host_id, mac, ip, create_time from monitor_log_behavior
    </sql>

    <select id="selectMonitorLogBehaviorList" parameterType="MonitorLogBehavior" resultMap="MonitorLogBehaviorResult">
        <include refid="selectMonitorLogBehaviorVo"/>
        <where>
            <if test="serialNumber != null  and serialNumber != ''"> and serial_number = #{serialNumber}</if>
            <if test="eventType != null  and eventType != ''"> and event_type = #{eventType}</if>
            <if test="processName != null  and processName != ''"> and process_name like concat('%', #{processName}, '%')</if>
            <if test="riskLevel != null "> and risk_level = #{riskLevel}</if>
            <if test="hostId != null  and hostId != ''"> and host_id = #{hostId}</if>
            <if test="mac != null  and mac != ''"> and mac = #{mac}</if>
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
        </where>
        order by event_time desc
    </select>

    <select id="selectMonitorLogBehaviorByLogId" parameterType="Long" resultMap="MonitorLogBehaviorResult">
        <include refid="selectMonitorLogBehaviorVo"/>
        where log_id = #{logId}
    </select>

    <insert id="insertMonitorLogBehavior" parameterType="MonitorLogBehavior" useGeneratedKeys="true" keyProperty="logId">
        insert into monitor_log_behavior
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialNumber != null and serialNumber != ''">serial_number,</if>
            <if test="eventTime != null">event_time,</if>
            <if test="eventType != null">event_type,</if>
            <if test="processName != null">process_name,</if>
            <if test="detail != null">detail,</if>
            <if test="riskLevel != null">risk_level,</if>
            <if test="hostId != null">host_id,</if>
            <if test="mac != null">mac,</if>
            <if test="ip != null">ip,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialNumber != null and serialNumber != ''">#{serialNumber},</if>
            <if test="eventTime != null">#{eventTime},</if>
            <if test="eventType != null">#{eventType},</if>
            <if test="processName != null">#{processName},</if>
            <if test="detail != null">#{detail},</if>
            <if test="riskLevel != null">#{riskLevel},</if>
            <if test="hostId != null">#{hostId},</if>
            <if test="mac != null">#{mac},</if>
            <if test="ip != null">#{ip},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <delete id="deleteMonitorLogBehaviorByLogId" parameterType="Long">
        delete from monitor_log_behavior where log_id = #{logId}
    </delete>

    <delete id="deleteMonitorLogBehaviorByLogIds" parameterType="String">
        delete from monitor_log_behavior where log_id in
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
</mapper>
