clash-verge-rev-dev/
文档资料/
**/.DS_Store

# Rust & Java Build
**/target/
**/build/

# Node
**/node_modules/
**/dist/
**/npm-debug.log
**/yarn-error.log
**/pnpm-debug.log

# IDE & System
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/*.log
**/.build/

# Database
*.db
*.rdb

# Config
config.json
